<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        margin: 45px;
      }
      #team {
        float:left;
        margin: 10px 25px 5px 25px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <%= yield  %>
  </body>
</html>
